.breadcrumbs__item, .breadcrumbs__link {
    display: inline-block;
    vertical-align: middle;
  }
  
  .breadcrumbs__item {
    font-size: 14px;
  }
  .breadcrumbs {
    margin-bottom: 15px;
  }
  .breadcrumbs__link {
    color: #1c5bc3;    
    opacity: 0.8;    
    font-style: italic;
  }
  
  .breadcrumbs__link--active {
    color: #221f1f;
    text-decoration: none;
  }
  
  .breadcrumbs__item:after {
    content: "/";
    display: inline-block;
    vertical-align: middle;
  }
  
  .breadcrumbs__item:last-child:after {
    display: none;
  }