.partners__aside {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 15px;
}
.partners {    
    margin-bottom: 26px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding: 0px;
    width: 100%;    
}
.partners__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    flex-wrap: wrap;
    text-align: center;    
    margin-top: 5px;
}
.partners__title {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 17px;
    padding-left: 5px;
    margin-bottom: 26px;
}
.partners__item {  
    margin-bottom: 51px;    
}
.partners__item:last-child {     
     margin-bottom: 18px;    
 }
.partners__logo {
   filter: grayscale(100%); 
}
.partners__logo:hover {
    filter: grayscale(0);
    transition: filter .3s ease-out;
}
.partners__link {
    width: 78%;
}