.rate {
  margin-top: 20px;
  margin-bottom: 34px;
}
.rate__list {
  display: flex;  
  margin-top: -23px;
}
.rate__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 2%;
  width: 250px;
  margin-right: 20px;
  cursor: pointer;
  text-align: center;
  padding: 37px 20px 0px;
  transition: border-color .3s;
}
.rate__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 2%;
  width: 250px;
  margin-right: 16px;
  cursor: pointer;
  text-align: center;
  padding: 23px 15px 0px 31px;
  transition: border-color .3s;
}
.rate__item:hover {
  border-color: #e8e9ed;
  transition: .3s;
}
.rate__desc-item:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 21px;
}
.rate__title { 
    text-transform: uppercase;     
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 4.68;
    letter-spacing: 2.64px;
    text-align: center;
    color: #212121;
}
.rate__main-title { 
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;  
  margin-bottom: 8px;
  line-height: 1.17;
  font-style: normal;
  font-stretch: normal;  
  letter-spacing: normal;
  text-align: left;
}
.rate__text {  
    font-weight: lighter;
    text-align: center;
    line-height: 1.7;
}
.rate__desc {
  text-align: left;  
}
.rate__desc-item {
  padding-top: 5px;
}
.rate__price {
  font-size: 54px;
  font-weight: bold;
}
.rate__symbol{
  font-size: 32px;
  color: #212121;
  margin-right: -9px;
}
.section-title {
  font-size: 49px;
  font-weight: bold;  
  margin-top: -9px;
  margin-bottom: 10px;  
}